.list-category{
    font-size: 2.5em;
    font-weight: bold;
    border: 3px solid ;
    text-align: center;
    margin-bottom: 10px;
    background-color: aqua;
    border-radius: 5px;
}

.list-items li{
    font-size: 2em;
    list-style: none;
    text-align: center;
    color: hsl(0, 0%, 25%);
}

.list-items li:hover{
    color: green;
    cursor: pointer;
}