body{
    background-color: hsl(0, 0%, 10%);
}

.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
    color: whitesmoke;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.addBtn{
    background-color: hsl(125, 47%, 54%);
}

.addBtn:hover{
    background-color: hsl(125, 47%, 44%);
}

.btnDelete{
    background-color: hsl(10, 90%, 50%);
}

.btnDelete:hover{
    background-color: hsl(10, 90%, 40%);
}

.btnMove{
    background-color: hsl(207, 90%, 64%);
}

.btnMove:hover{
    background-color: hsl(207, 90%, 54%);
}

input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.task{
    flex: 1;
}

.btnDelete, .btnMove{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}